* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inputs{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-inputs input {
    height: 35px;
    padding-left: 10px;
    border: 1px solid rgb(108, 108, 247);
    border-radius: 2px;
    outline: none;
}

input:invalid {
    border-color: red;
}

h1{
   display: flex;
   justify-content: center;
}